/* FONTS */

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;900&display=swap');
  }

/* UNIVERSAL CLASSES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* IMPORTANT */
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: #383838;
}

h2 {
    font-size: 2.2rem;
    color: #383838;
}

h3 {
    font-size: 1.5rem;
    color: #383838;
}

p {
    font-size: 1.4rem;
    color: #707070;
}

a {
    text-decoration: none;
    color: #383838;
}

#main {
    position: relative;
    top: 32px;
}

/* HEADER DESKTOP */

header.mobile {
    display: none;
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    color: #383838;
    position: fixed;
    z-index: 100;
    background-color: white;
}

#logo {
    display: flex;
}

header nav {
    display: block;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.3em;
}

.desktop #logo span {
    text-transform: uppercase;
    font-size: 2em;
}

.desktop #logo img {
    width: 2.5em;
}

.desktop span.logo-one {
    color: #383838;
    font-weight: bold;
}

.desktop span.logo-two {
    color: #d1d1d1;
    font-weight: 300;
}


/* HEADER MOBILE */

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    position: fixed;
    z-index: 100;
    background-color: white;
}

@media only screen and (max-width: 874px) {
    header.desktop {
        display: none;
    }

    header.mobile {
        display: flex;
        max-height: 64px;
    }

    header.mobile img {
        width: 40px;
    }
}

/* BANNER */

#banner {
    position: relative;
    top: 32px;
    display: flex;
}

#banner img {
    padding: 0px 24px;
    width: 60%;
    height: auto;
    display: block;
    object-fit: cover;
}

#banner {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #d1d1d1;
}

.banner-content {
    width: 30%;
    padding: 0px 24px;
    display: block;
    margin: 0;
    margin-top: 100px;
}

.banner-content h1 {
    padding: 24px 0px;
    font-weight: 800;
}

.banner-content h2 {
    padding: 50px 0px;
    color: #383838;
}

.button {
    background-color: #383838;
    padding: 8px 0px;
}

.button:hover {
    background-color: #242424;
}

.button h2 {
    color: white;
    padding: 0;
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
}

/* BANNER MOBILE */

@media only screen and (max-width: 874px) {

    #banner {
        padding-top: 0px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    #banner img {
        display: block;
        width: 100%;
        padding: 0px 0px 32px 0px;
        width: 100%;
    }

    .banner-content {
        display: block;
        width: 100%;
        margin-top: 0;
    }

    .button {
        background-color: #b3b3b3;
    }

    .button:hover {
        background-color: #757575;
    }
}

/* INFORMATION */

.event img.desktop-img {
    display: none;
}

#information {
    display: flex;
    padding: 32px 0px;
    height: auto;
    width: 100%;
}


.information-content img {
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 32px;;
}

.information-content {
    max-width: 60%;
    display: inline-block;
    padding: 0px 24px;
}

.information-content h2 {
    padding: 32px 0px 24px 0px;
    line-height: 20px;
}

.information-content p {
    padding: 40px 0px 60px 0px;
    line-height: 20px;
    font-weight: 100;
}

.information-content h5 {
    padding-bottom: 32px;
    font-size: 1.05rem;
    font-weight: 400;
    color: #333333;
}

.events {
    display: inline-block;
    width: 40%;
    border-left: solid 1px #e0e0e0;
}

.event {
    display: flex;
    min-height: 168px;
    border-bottom: solid 2px #e0e0e0;
}

.event:first-child {
    padding-top: 16px;
}

.event:last-child {
    background-color: #ededed;
}

.event img {
    max-width: 33%;
    height: auto;
    margin: 16px;
    object-fit: cover;
}

.event-text {
    display: inline-flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
    color: #383838;
}

.event-text h2 {
    line-height: 45px;
    padding-bottom: 8px;
}

.event-text span {
    line-height: 40px;
    padding-bottom: 8px;
}

.event-text p {
    line-height: 30px;
    font-size: 1.2rem;
    padding-bottom: 8px;
}

.read-more {
    color: #78acff;
    font-weight: 600;
}

span.read-more:hover {
    color: #3885ff;
}

/* INFORMATION MOBILE */

@media only screen and (max-width: 1257px) {

    .information-content {
        display: none;
    }

    .events {
        width: 100%;
    }

    .event {
        display: block;
        border: none;
    }

    .event img.desktop-img {
        display: none;
    }

    .event img.mobile-img {
        display: block;
        min-width: 80%;
        margin: auto;
    }

    .event:last-child {
        background-color: white;
    }

    .event-text {
        margin: auto;
        width: 100%;
    }

    .event-text h2,
    .event-text p,
    .event-text span {
        margin: auto;
    }
}

/* COURSES */

#courses-mobile {
    display: none;
}

#start-learning {
    background-color: #ededed;
    padding: 32px 72px;
}

#start-learning h1 {
    text-align: center;
    padding-bottom: 32px;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.course {
    display: block;
    width: 500px;
    margin-bottom: 32px;
    background-color: white;
}

.course img {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
}

.course p,
.course span,
.course h3 {
    display: block;
    margin: 0;
    text-align: left;
}

.course h3 {
    font-size: 1.8em;
    color: #383838;
    padding: 16px 16px;
}

.course span {
    padding: 8px 16px;
    text-transform: uppercase;
}

.course p {
    padding: 0px 0px 16px 16px;
}

.course span,
.course p {
    color: #707070;
    font-size: 1.4rem;
}

/* COURSES MOBILE */

@media only screen and (max-width: 874px) {

    #start-learning {
        background-color: white;
        border-top: solid 1px #d6d6d6;
        border-bottom: solid 1px #d6d6d6;
    }

    #courses {
        display: none;
    }

    #courses-mobile {
        display: block;
    }

    .course-mobile {
        background-color: #d1d1d1;
        width: 85%;
        margin: 16px 8px 8px 8px;
        padding: 16px 0px 24px 16px;
    }

    .course-mobile h3 {
        font-size: 2rem;
        line-height: 3rem;
    }

}

/* THESIS */

#thesis {
    width: 100%;
    padding: 32px 8px 32px 24px; 
}

#thesis h1 {
    text-align: center;
    padding: 32px 0px 16px 0px;
}

.thesis-content {
    display: flex;
}

.thesis-intro {
    max-width: 60%;
    padding-right: 24px;
}

.thesis-intro h2 {
    padding: 24px 0px;
}

.thesis-intro p {
    padding-bottom: 32px;
}

.thesis-intro video {
    width: 100%;
    height: auto;
}

.thesis-info {
    max-width: 40%;
}

.thesis-info-single {
    align-items: center;
    display: flex;
    padding: 16px;
}

.thesis-info-single img {
    display: block;
    max-width: 35%;
    padding-right: 16px;
}

.thesis-info-single-content {
    width: 65%;
    display: block;
    line-height: 3rem;
}

.thesis-info-single:first-child {
    background-color: #ededed;
}

/* THESIS MOBILE */

@media only screen and (max-width: 1170px) {
    
    #thesis {
        padding: 0px;
    }

    .thesis-intro {
        min-width: 100%;
        padding: 16px 0px 24px 0px;
    }
    
    .thesis-intro video {
        display: block;
        width: 100%;
    }

    .thesis-urban,
    .thesis-info {
        display: none;
    }
}

/* FOOTER */

footer {
    padding: 0px 24px 32px 24px;
    font-size: 1.1rem;
}

.footer-content {
    border-top: solid 1px #d1d1d1;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.footer-content p {
    font-size: 1.1rem;
    color: #707070;
}

.terms-privacy {
    color: #707070;
}

.terms-privacy span:first-child {
    padding-right: 18px;
}