/* FONTS */

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;900&display=swap');
  }

/* UNIVERSAL CLASSES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* IMPORTANT */
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: #383838;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#main {
    position: relative;
    top: 32px;
}

/* HEADER */

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    color: #383838;
    position: fixed;
    z-index: 100;
    background-color: white;
}

#logo {
    display: flex;
}

header nav {
    display: block;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.3em;
}

#logo span {
    text-transform: uppercase;
    font-size: 2em;
}

#logo img {
    width: 2.5em;
}

span.logo-one {
    color: #383838;
    font-weight: bold;
}

span.logo-two {
    color: #d1d1d1;
    font-weight: 300;
}

/* BANNER */

#banner {
    position: relative;
    top: 32px;
}

#banner img {
    padding: 0px 24px;
    width: 60%;
    display: inline-block;
}

#banner {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #d1d1d1;
}

.banner-content {
    width: 30%;
    padding: 0px 24px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-content h1 {
    padding: 24px 0px;
    font-weight: 800;
}

.banner-content h2 {
    padding: 50px 0px;
    color: #383838;
}

.button {
    background-color: #383838;
    padding: 8px 0px;
}

.button:hover {
    background-color: #242424;
}

.button h2 {
    color: white;
    padding: 0;
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
}

/* INFORMATION */

#information {
    display: flex;
    padding: 32px 0px;
    height: auto;
    width: 100%;
}


.information-content img {
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 32px;;
}

.information-content {
    max-width: 60%;
    display: inline-block;
    padding: 0px 24px;
}

.information-content h2 {
    padding: 32px 0px 24px 0px;
    line-height: 20px;
}

.information-content p {
    padding: 40px 0px 60px 0px;
    line-height: 20px;
    font-size: 1.4rem;
    font-weight: 100;
    color: #616161;
}

.information-content h5 {
    padding-bottom: 32px;
    font-size: 1.05rem;
    font-weight: 400;
    color: #616161;
}

.events {
    display: inline-block;
    width: 40%;
    border-left: solid 1px #e0e0e0;
}

.event {
    display: flex;
    min-height: 168px;
    border-bottom: solid 2px #e0e0e0;
}

.event:first-child {
    padding-top: 16px;
}

.event:last-child {
    background-color: #e0e0e0;
}

.event img {
    max-width: 33%;
    height: auto;
    margin: 16px;
}

.event-text {
    display: inline-flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
    color: #383838;
}

.event-text h2 {
    line-height: 45px;
    padding-bottom: 8px;
}

.event-text span {
    line-height: 40px;
    padding-bottom: 8px;
}

.event-text p {
    line-height: 30px;
    font-size: 1.2rem;
    padding-bottom: 8px;
}

.read-more {
    color: #78acff;
    font-weight: 600;
}

.read-more:hover {
    color: #3885ff;
}